@model LoopLeader.Domain.Entities.Content

@{
    ViewBag.Title = @Model.ContentID ;
}

<h2>Content Info for @Model.ContentID </h2>
@Model.CurrentText
<br />
<br />
@Html.ActionLink("Done", "Index", "Admin")