@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}

<h2>Administration Area</h2>
<h3>Welcome to the Administration area.
<br />
Please choose a section from the left to make changes.
</h3>